<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="ZuriHac 2024" />
    <meta property="og:description"
        content="ZuriHac is a free annual haskell event brought to you by «Zürich Friends of Haskell»" />
    <meta property="og:image" content="https://zfoh.ch/images/zurihac2024/preview.jpg" />

    <title>ZuriHac 2024</title>
    <style>
      html {
        background-color: rgb(30, 40, 30);
      }
    </style>
  </head>
  <body>
    $body$
  </body>
</html>
